.p-Home.Flex4 {
display: flex;
background-color: #3b393f;
align-items: flex-end;
justify-content: space-between;
align-content: space-between;
align-self: stretch;
overflow: visible;
box-sizing: content-box;
flex-direction: row;
color: #c32424;
position: static;
float: none;
clear: none;
cursor: URL;
width: ;
flex-wrap: wrap-reverse;
line-height: 150px;
padding-right: 220px;
}
.p-Home.Div7 {
display: contents;
visibility: visible;
}
.p-Home.Flex5 {
display: flex;
align-items: flex-end;
justify-content: space-between;
flex-wrap: wrap;
align-content: space-around;
row-gap: ;
width: 520px;
height: 300px;
margin-left: 102px;
margin-top: 25px;
margin-bottom: 25px;
padding-right: 250px;
}
.p-Home.Div9 {
display: block;
width: 650px;
height: 350px;
margin-left: 96px;
margin-top: 30px;
margin-right: ;
padding-right: ;
}
.p-Home.Image2 {
align-self: center;
border-radius: 100px;
margin-left: 85px;
padding-left: ;
padding-bottom: ;
border-width: ;
width: 600px;
height: 300px;
outline-width: ;
font-size: ;
text-align: left;
background-color: ;
position: static;
left: 35px;
margin-top: 16px;
padding-right: ;
margin-bottom: 5px;
top: 10px;
bottom: 5px;
}
.p-Home.Upload1 {
align-items: center;
color: #000000;
background-color: #47adff;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 5px;
font-size: ;
border-radius: 5px;
outline: none;
font-weight: 400;
border-width: 3px;
border-style: solid;
border-color: #0f2746;
cursor: pointer;
user-select: none;
column-gap: ;
justify-content: center;
width: 20rem;
height: 32px;
text-align: justify;
flex-direction: row;
row-gap: ;
display: flex;
position: relative;
align-self: baseline;
overflow: hidden;
box-sizing: initial;
margin-left: ;
margin-top: 10px;
margin-bottom: ;
margin-right: 10px;
left: -520px;
top: 46px;
word-wrap: initial;
align-content: space-around;
flex-wrap: nowrap;
}
.p-Home.TextBox10 {
margin-top: 75px;
margin-left: 95px;
margin-right: 200px;
padding-right: 0px;
margin-bottom: ;
font-size: 25px;
text-align: left;
word-wrap: normal;
}
.p-Home.Image1 {
position: static;
align-self: auto;
width: 560px;
height: 140px;
min-width: ;
max-width: ;
min-height: ;
max-height: ;
text-align: left;
background-color: #5c5c5c;
flex-grow: 0;
line-height: 350px;
}
.p-Home.TextBox3 {
cursor: pointer;
color: #cc4747;
box-sizing: content-box;
text-align: left;
word-wrap: normal;
font-size: 20px;
line-height: ;
background-origin: padding-box;
background-clip: text;
-webkit-background-clip: text;
position: static;
float: left;
clear: none;
background-color: #000000;
}
.p-Home.TextBox5 {
cursor: pointer;
color: #cc4747;
line-height: 550%;
font-size: 20px;
float: none;
clear: none;
background-attachment: scroll;
background-clip: padding-box;
-webkit-background-clip: padding-box;
position: static;
background-color: ;
border-radius: ;
text-align: left;
padding-top: ;
padding-bottom: 10px;
margin-top: 20px;
}
.p-Home.TextBox6 {
color: #cc4747;
background-color: ;
background-position-y: ;
background-position-x: ;
position: static;
padding-bottom: ;
margin-top: ;
width: ;
overflow: hidden;
height: ;
font-size: 20px;
cursor: pointer;
}
.p-Home.Button1 {
color: #000000;
background-color: #cb5316;
padding-top: ;
padding-left: 10px;
padding-bottom: ;
padding-right: 10px;
font-size: 15.5px;
border-radius: 20px;
outline: none;
font-weight: 400;
text-align: right;
border-width: 5px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
width: 100px;
height: 50px;
box-sizing: inherit;
overflow: auto;
float: none;
word-wrap: normal;
top: 11px;
left: 25px;
align-self: center;
background-position-y: 100px;
background-position-x: 100px;
position: static;
order: 1;
margin-top: ;
margin-bottom: ;
margin-right: ;
margin-left: ;
}
.p-Home.Accordion5 {
width: ;
height: ;
margin-right: 100px;
margin-left: 98px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-width: 4px;
border-style: solid;
border-color: #bda7a7;
margin-top: 35px;
cursor: cell;
}
.p-Home.Carousel5 {
align-self: baseline;
width: ;
height: ;
margin-left: 12px;
padding-right: ;
border-radius: 4px;
border-width: 6px;
border-style: solid;
border-color: #97a471bf;
color: #030202bf;
font-size: ;
position: static;
margin-right: 12px;
right: 650px;
left: 10px;
}
.p-Home.Toggle2 {
width: 100px;
height: 50px;
cursor: pointer;
}
.p-Home.Step1 {
width: 550px;
height: 150px;
margin-top: 15px;
margin-bottom: 38px;
}
.p-Home.TextBox12 {
margin-top: 20px;
margin-bottom: ;
padding-left: 0px;
}
@media screen and (max-width: 991px) {
	.p-Home.Image2.bpt {
margin-top: ;
margin-left: ;
margin-bottom: ;
	}
}